<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gather_detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="/js/main.js" defer></script>
</head>
<body class="detailPostit">

<header class="detailPostit__header">
    <div class="title">
        <i class="fa-solid fa-utensils"></i>

        <span>&nbsp</span>
        <h1 th:text="${gatherDetail.getDinerName()}"> 제목</h1>
    </div>
    <button class="detailCloseIconButton">
        <i class="fa-regular fa-circle-xmark"></i>
    </button>
</header>
<section class="detailPostit__body">
    <div class="detailHeader">
        <span class="detailParty"><i class="fa-solid fa-user-group"> </i>
            <span>&nbsp</span>
            <span th:text="${gatherDetail.getInitNumber()}">1</span>
            <span>/</span>
            <span th:text="${gatherDetail.getGatherNumber()}">4</span>
        </span>
        <div class="detailIconSection">
            <div class="detailIconPartition">
                <form th:action="@{/board/bumpGatherBoard}" method="post">
                    <input type="hidden" th:name="id" th:value="${gatherDetail.getId()}"/>
                    <button class="detailIconButton">
                        <i class="fa-regular fa-circle-up"></i>
                    </button>
                </form>
                <span>|</span>
                <form th:action="@{/board/toUpdateGatherBoardPage}" method="post">
                    <input type="hidden" th:name="id" th:value="${gatherDetail.getId()}"/>
                <button class="detailIconButton">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                </form>
                <span>|</span>
                <form th:action="@{/board/deleteGatherBoard}" method="post" id="myForm">
                    <input type="hidden" th:name="id" th:value="${gatherDetail.getId()}"/>
                    <button class="detailIconButton" name="deleteBtn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
                </button>
            </div>
        </div>
    </div>
    <div class="detailContentSection">
        <div class="authorDiv">
            <p><span class="author">글쓴이 : </span><span class="author"
                                                       th:text=" ${gatherDetail.getAuthorNickname()}"> 태민킴</span></p>
            <p><span class="author">글쓴날 : </span><span class="author"
                                                       th:text=" ${#temporals.format(gatherDetail.createdAt, 'yyyy-MM-dd')}"> 태민킴</span>
            </p>
        </div>
        <p class="category"><span> 종류 : </span><span th:text="${gatherDetail.getCategory()}">중식</span></p>
        <p class="detailMore" th:text="${gatherDetail.getContent()}">탕수육 나눠먹을 사람 구함</p>
    </div>
</section>
<hr class="detailSection-separator">
<section class="detailPostit__comment">

</section>

</body>

<script>
    function deleteAlert() {
        // Alert 띄우기
        var confirmed = confirm('정말로 삭제하시겠습니까?');

        // 사용자가 "확인"을 클릭한 경우에만 form 제출
        if (confirmed) {
            document.getElementById('myForm').submit();
        }
    }
</script>
</html>