<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gather_create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="/js/main.js" defer></script>
</head>
<body class="createPostit">
<form th:action="@{/board/createGatherBoard}" method="post">
    <header class="createPostit__header">
        <div class="title">
            <label for="title">가게 이름:</label>
            <input type="text" id="title" name="title" placeholder="가게 이름을 입력하세요">
        </div>
        <button class="createIconButton">
            <i class="fa-regular fa-circle-xmark"></i>
        </button>
    </header>
    <section class="createPostit__body">
        <div>
            <span class="createParty">
                <i class="fa-solid fa-user-group"></i>
                <span>
                    <input type="hidden" id="initNumber" name="initNumber" value="1"/>1 /
                    <input type="text" id="gatherNumber" name="gatherNumber" value="1" pattern="[0-9]+" required>
                </span>
            </span>
        </div>
        <div class="createContentSection">
            <div class="deliveryInput">
                <span>배달 여부 : </span>
                <label>
                    <input type="radio" id="isDelivery" name="isDelivery" checked="true" value="false">
                    <i class="fa-solid fa-utensils"></i>
                </label>
                <span class="deliverySeparator">/</span>
                <label>
                    <input type="radio" name="isDelivery" value="true">
                    <i class="fa-solid fa-motorcycle"></i>
                </label>
            </div>
            <p class="category">음식 종류 :
                <select id="category" name="categoryName">
                    <datalist id="foodCategory" th:each="category : ${categories.getCategoryNames()}">
                        <option th:value="${category}" th:text="${category}">
                    </datalist>
                </select>
            </p>
            <textarea id="content" name="content" placeholder="추가적인 내용을 입력해주세요."></textarea>
        </div>
    </section>
    <div class="submitDiv"><button type="submit" class="submitButton"><i class="fa-regular fa-paper-plane"></i></button></div>
</form>
</body>
</html>