<body>
<nav th:fragment="navbarFragment" class="navbar">
    <div class="navbar_logo">
        <i class="fa-solid fa-bowl-food"></i>
        <a href="">ㅇㅈㅁ?</a>
    </div>

    <a href="javascript:;" class="navbar_profileBtn">
        <i class="fa-regular fa-circle-user"></i>
    </a>

    <a href="javascript:;" class="navbar_menuBtn">
        <i class="fa-solid fa-bars"></i>
    </a>

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-title">메뉴
                <li class="sidebar-nav-item">
                    <a>메뉴 테스트</a>
                </li>
            </li>
        </ul>
    </div>
</nav>
</body>