@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.detailContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0px;
    background-color: #fef6e5;
    border: 5px solid white;
}

.detailPostit {
    background: #FFFFFF;
    color: #2b2b2b;
    /*margin: 20px 0px;*/
    border-radius: 3px;
    font-family: 'omyu_pretty';
    font-size: 22px;
    /*position: relative;*/
}

.detailPostit:after {
    border-width: 0;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-color: transparent transparent #fbe6af #FFFFFFCC;
}

.detailCloseIconButton{
    border: transparent;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    color:#000000;
    cursor: pointer;
    background-color: transparent; /* 배경색을 투명으로 설정하여 아이콘 버튼을 보이게 함 */
    border: none; /* 버튼 스타일 초기화 */
    position: relative; /* 부모 요소에 상대적인 위치를 설정 */
}

.detailPostit header {
    padding: 20px 20px;
    background: #fef6e5;
    color: #2b2b2b;
    border-radius: 3px 3px 0 0;
    position: relative;
    text-align: center;
    font-size: 35px;
    display: flex;
}
.detailPostit__header .title{
    flex: 1;
    text-align: center;
}

.detailPostit h1 {
    display: inline;
    font-family: 'omyu_pretty';
    font-size: 50px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.detailPostit ul {
    list-style: none;
}
.detailPostit li + li {
    margin-top: 15px;
}
.postit__body {
    padding: 20px;
    margin: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    /*box-shadow: inset 0 6px 20px -10px #c4aa00;*/
}

.detailHeader{
    margin-top: 20px;
}

.detailParty{
    line-height: 50px;
    width: 160px;
    height: 50px;
    font-size: 20px;
    flex:1;
    padding: 10px;
    margin-left: 40px;
    position: relative;
    display: block;
}

.detailParty .tooltiptext {
    visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
    width: 120px;             /* 툴팁 영역의 넓이를 설정 */
    background-color: #ecb390;
    color: #f3f3f3;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;       /* 절대 위치를 사용 */
    z-index: 1;
}

.detailParty:hover .tooltiptext {
    visibility: visible;      /* hover 이벤트 발생시 영역을 보여줌 */
}

.detailParty .tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.detailParty .tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}

.detailIconSection{
    float: right;
    display: flex;
    padding: 10px;
    margin-right: 40px;
}

.detailIconPartition {
    display: flex;
    align-items: center; /* 세로 방향으로 아이콘들을 가운데 정렬 */
}

.detailIconButton {
    border: transparent;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color:#000000;
    text-align: center;
    top:15%;
    background-color: transparent; /* 배경색을 투명으로 설정하여 아이콘 버튼을 보이게 함 */
    border: none; /* 버튼 스타일 초기화 */
    position: relative; /* 부모 요소에 상대적인 위치를 설정 */
}

.detailIconButton:hover {
    cursor: pointer;
}

.category {
    font-size: 20px;
}

.detailContentSection{
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    margin: 0px 30px 5px 30px;
    font-size: 25px;
}

.detailContentSection .authorDiv{
    display: flex;
    align-self: end;
}

.detailContentSection .authorDiv p{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    padding:0;
}


.detailContentSection .category{
    flex: 1;
}

.detailMore{
    font-size: 25px;
}

.detailSection-separator {
    border: none; /* 기본 구분선 스타일 초기화 */
    border-top: 2px solid #505f4e; /* 원하는 구분선 스타일 설정 */
    margin: 0px 30px; /* 원하는 간격 설정 */
}

.joinBtn {
    font-size: 20px;
    color: #544900;
    font-family: 'omyu_pretty';

    border: 3px solid white;
    background-color: transparent;
    margin: 10px 20px 30px 30px;
}