@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-color: #fcf8e8;
    --accent-color: #ecb390;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--accent-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFFCC;
    padding: 8px 0px;
    border-bottom: 5px solid var(--accent-color);
    font-family:'KBO-Dia-Gothic_bold';
}

.navbar_logo{
    font-size: 40px;
    color: var(--accent-color);
    left: 50%;
    position: relative;
    transform: translateX(-50%)
}

.navbar_logo i{
    display: inline;
    color:var(--accent-color);
}

.navbar_logo p{
    display: inline;
}

.navbar_profileBtn {
    display: none;
    color: var(--accent-color);
    position: absolute;
    right: 20px;
    font-size: 40px;
}

.navbar_menuBtn{
    display: block;
    color: var(--accent-color);
    position: absolute;
    left: 20px;
    font-size: 40px;
}

/*내용물*/
.container{
    flex-grow: 1;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.content-margin{
    flex: 1;
    background-color: var(--background-color);
}

.content{
    width: 630px;
    height: 100%;
    background-color: var(--background-color);
}

/*sidebar 관련 css*/
#sidebar-wrapper {
    position: fixed;
    z-index: 998;
    top: 70px;
    left: -500px;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: var(--accent-color);
    font-family:'KBO-Dia-Gothic_bold';
    font-size: 50px;
}

#sidebar-wrapper.active {
    left: -250px;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    /*position: absolute;*/
    padding-left: 0px;
    width: 250px;
    list-style: none;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-nav-title {
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: x-large;
    font-weight: 700;
    padding-left: 30px;
}

.sidebar-nav li.sidebar-nav-item a {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    text-decoration: none;
    color: #f3f3f3;
    font-size: large;
    height: 10vh;
    line-height: 10vh;
    padding-left: 30px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: wheat;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*프로필 관련 css*/
#profile-wrapper {
    position: fixed;
    z-index: 998;
    top: 95px;
    right: -150px;
    width: 350px;
    height: 500px;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background-color: var(--background-color);
    margin-left: 30px;
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 15px;
    border-radius: 30px;
    border: 5px solid #ecb390;
}

#profile-wrapper.active{
    position: relative;
    left: -200px;
    transition: all 0.4s ease 0s;
}

.profile-nav {
    position: absolute;
    width: 350px;
    list-style: none;
    padding-left:0px;
}

.profile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-nav-title {
    display: block;
    height: 50px;
    line-height: 50px;
    color: var(--accent-color);
    font-size: x-large;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 50px;
}

.profile-title {
    display: inline;
}

.profile-btn-container {
    display: inline-flex;
    justify-content: flex-end;
    width: 170px;
}

.profile-btn-container a {
    margin-left: 10px;
}


.profile-nav li.profile-nav-before {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.profile-nav li.profile-nav-before a {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    flex-direction: column;
    color: var(--accent-color);
    font-size: large;
    padding: 10px 0px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.profile-nav .profile-nav-before a:hover {
    text-decoration: none;
    color: white;
    background: var(--accent-color);

}

.profile-nav .profile-nav-before a:active,
.profile-nav .profile-nav-before a:focus {
    text-decoration: none;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 10px;
    color: #ea5b68;
}

.idCard {

    text-align: center;
    grid-row: span 3;
    font-size: 100px;
}

.profile-items {
    text-align: right;
    margin-right: 30px;
}

.profile-links {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-top: 30px;
}

.link-my-board {
    display: inline;
    width: 30%;
    text-align: center;
    font-size: 20px;
}

/*반응형 미디어 쿼리*/
@media screen and (max-width: 1550px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0px;
    }

    .navbar_profileBtn{
        display: block;
    }

    #profile-wrapper.active {
        position: fixed;
        left: auto;
        right: 250px;
        transition: all 0.4s ease 0s;
    }
}

@media screen and (max-width: 630px) {
    .content {
        width:100vw;
    }
}