<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- Font Icon -->
    <link type="text/css" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}" rel="stylesheet">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<script th:if="${errorMessage}">
        alert([[${errorMessage}]]);
</script>

<nav th:fragment="navbarFragment" class="navbar">
    <a class="navbar_logo" th:href="@{/}">
        <i class="fa-solid fa-bowl-food"></i>
        <p>ㅇㅈㅁ?</p>
    </a>
</nav>

<div class="sign-up-content">
    <div class="signup-main">
        <!-- Sign up form -->
        <div class="signup-container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">회원가입</h2>
                    <form action="/register" method="post" class="register-form" id="register-form"
                          onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="id"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="id" id="id" placeholder="Id"/>
                        </div>
                        <div class="form-group">
                            <label for="pw"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pw" id="pw" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <label for="Nickname"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="Nickname" id="Nickname" placeholder="Nickname"/>
                        </div>
                        <div>
                            <h4 class="choice_category">카테고리 선택</h4>
                            <div class="form-category">
                                <label th:each="category : ${categories}" th:key="${category.getId()}">
                                    <input type="checkbox" th:name="'categoryId'" th:value="${category.getId()}"/>
                                    <span th:text="${category.getCategoryName()}"></span>
                                </label>
                            </div>
                        </div>

                        <label class="checkbox-privacy">
                            <input type="checkbox" id="agreePrivacyPolicy">
                            개인정보 처리방침에 동의합니다.
                            <a href="/privacyPolicy" target="_blank">자세히 보기</a>
                        </label>

                        <div class="form-button">
                            <input class="joinMemberBtn" type="submit" value="가입하기">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- JS -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
  function validateForm() {
    var id = document.getElementById("id").value;
    var pw = document.getElementById("pw").value;
    var email = document.getElementById("email").value;
    var name = document.getElementById("name").value;
    var nickname = document.getElementById("Nickname").value;
    var privacyCheckbox = document.getElementById("agreePrivacyPolicy");

    if (id === "" || pw === "" || email === "" || name === "" || nickname === "") {
        alert("모든 필드를 채워주세요.");
        return false;
    }

    if (!privacyCheckbox.checked) {
        alert("개인정보 처리방침에 동의해주세요.");
        return false;
    }

    return true;
  }



</script>
</body>
</html>