<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>로그인</title>

  <!-- Font Icon -->
  <link type="text/css" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}" rel="stylesheet">

  <!-- Main css -->
  <link type="text/css" th:href="@{/css/style.css}"  rel="stylesheet">
</head>
<body>
<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img th:src="@{/images/signin-image.jpg}" alt="sing up image"></figure>
          <a href="/register" class="signup-image-link">Create an account</a>
        </div>

        <div class="signin-form">
          <h2 class="form-title">로그인</h2>
          <form action="/login" method="post" class="register-form" id="login-form">
            <div class="form-group">
              <label for="id"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="id" id="id" placeholder="id"/>
            </div>
            <div class="form-group">
              <label for="pw"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="pw" id="pw" placeholder="Password"/>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
            </div>
          </form>
          <div class="social-login">
            <span class="social-label">Or login with</span>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!-- JS -->
<!--<script th:src="@{/vendor/jquery/jquery.min.js"}></script>-->
<!--<script th:src="@{/js/main.js}"></script>-->
</body>
</html>